header {
  text-align: center;
  font-weight: 100;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 35px;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 16px;
  font-weight: 100;
  vertical-align: top;
  text-align: left;
  margin-right: 50px;
}

.mySlides {
  display: flex;
  flex-direction: row;
}

.carousel_track-container {
  background: transparent;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  width: 500px;
  margin: 0 0% 0%;
}

.carousel_track {
  display: flex;
  width: 500px;
  position: relative;
  left: 0;
  transition: left 1s;
}

img {
  width: 215px;
  height: 250px;
  float: left;
  vertical-align: middle;
  padding: 15px 20px;
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  width: 295px;
}

.left {
  height: 80px;
  margin: 100px 0% 0%;
}

.right {
  height: 80px;
  margin: 100px 0% 0%;
}

button img {
  cursor: pointer;
}

p {
  white-space: normal;
}
